{% extends 'html_template.html' %}
{% block content %}
    <h1>管理员用户列表</h1>
    <a class="btn btn-success" href="/admin_user_add/" target="_parent">新增管理员用户</a>
    <div style="float:right; width:300px;">
        <form action="/admin_user/" method="get">
            <div class="input-group">
      <input type="text" class="form-control" name="search_text" placeholder="搜索...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search" aria-hidden="true"> 搜索</span>
        </button>
      </span>
    </div>
        </form>
    </div>

<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Panel heading</div>
      <div class="panel-body">
        <p> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>这是已有的靓号列表：</p>
      </div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for item in form %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.username }}</td>
            <td>******</td>
            <td>{{ item.create_time }}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/admin_user/{{ item.id }}/edit/">编辑</a>
                <a class="btn btn-danger btn-sm" href="/admin_user_del/?nid={{ item.id }}">删除</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
 <form action="/admin_user/" method="get">
<nav aria-label="...">
      <ul class="pagination">
        {{ page_list_str }}

          </ul>
   </nav>
     </form>
</div>
{% endblock %}
